body {
    margin: 0;
    background-color: #f0f0d6;
}


/* START OF HEADER */
header {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-image: url("../images/triangles-blue.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
  }
  
  header h1 {
    padding: 20px;
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(255, 255, 159, 0.7);
  }

  
  header a {
    text-decoration: none;
    color: black
  }
  
  header nav {
    display: flex;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(255, 255, 159, 0.7);
  }
  
  header nav ul li a:hover {
    color: #ffff9f;
    border-radius: 15px;
    text-shadow: none;
  }

/* END OF HEADER */

/* START OF SECTIONS */
section {
    margin: 15px;
    border-bottom: 5px dashed #4193a9;
}

section h2 {
    text-shadow: 0 0 10px rgba(65, 147, 169, 0.5)
}


/* START OF ABOUT ME */
#about-me p {
    padding-right: 25px;
    font-weight: bold;
    color: #173e78;
    text-align: right;
}
/* END OF ABOUT ME */


/* START OF MY WORK */
#my-work {
}

.articles {
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bolder;
    
}

.articles p {
  font-size: 40px;
  color: #4193a9;
  text-shadow: 0 0 10px rgba(0, 27, 69, 1);
  text-align: center;
}

#run-buddy {
  display: inline-block;
  background-image: url("../images/run-buddy.jpg");
  background-size: 400px 200x;
  background-repeat: round;
  padding: 7%;
  margin: 2.5%;
}

#horiseon{
  display: inline-block;
  padding: 4%;
  margin: 2.5%;
  background-image: url(../images/horiseon.jpg);
  background-size: 400px 200x;
  background-repeat: round;
}

#robot {
  display: inline-block;
  padding: 4%;
  margin: 2.5%;
  background-image: url(../images/robot.jpg);
  background-size: 400px 200x;
  background-repeat: round;
}

#youtube {
  display: inline-block;
  padding: 4%;
  margin: 2.5%;
  background-image: url(../images/youtube.jpg);
  background-size: 400px 200x;
  background-repeat: round;
}

/* END OF MY WORK */





#contact-me {
    border-bottom: none;
}

/* START OF FOOTER */

footer {
    background: #4193a9;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-weight: bolder;
    color: #f0f0d6;
  }

  footer div {
    font-size: 25px;
  }